In [90]:
import pandas as pd
import quandl
import matplotlib.pyplot as plt
import json

In [103]:
with open("./config3.json") as f:
    config_json=f.readline()
# config_json=json.dumps(config_json, ensure_ascii=False)
    json_object=json.loads(config_json)
    closing_date=pd.DataFrame()
    for i in range(0,len(json_object['ids'])):
        column=quandl.get(json_object['DB']+"/"+json_object['tickers'][i],start_date=json_object['start_date'],end_date=json_object['end_date'],authtoken=json_object['authtoken'])
        closing_date[json_object['ids'][i]]=column['Close']
    closing_date = closing_date.fillna(method='ffill')
    closing_date.to_pickle('closing_date_dyanamic.pickle')
closing_date.describe()

,snp,nyse,djia,nikkei,hangseng,ftse,dax,aord
count,1447.000000,1447.000000,1447.000000,1447.000000,1447.000000,1447.000000,1447.000000,1447.000000
mean,694.131997,8920.468404,14017.464990,12530.008689,22245.750485,888.756393,7965.888030,4913.770143
std,143.675556,1420.830250,2522.948044,3646.164927,2026.412936,200.330409,1759.572713,485.052575
min,463.839996,6434.810059,9686.480469,8160.009766,16250.269531,602.000000,5072.330078,3927.600098
25%,570.724976,7668.234863,11987.635254,9465.930176,20841.259765,722.500000,6457.090088,4500.250000
50%,657.479980,8445.769531,13323.360352,10774.150391,22437.439453,788.000000,7435.209961,4901.100098
75%,830.524994,10370.324707,16413.575196,15163.069824,23425.334961,1078.500000,9409.709961,5346.150147
max,945.609985,11239.660156,18312.390625,20868.029297,28442.750000,1326.000000,12374.730469,5954.799805