In [22]:
import pandas as pd
import quandl
import matplotlib.pyplot as plt

In [5]:
cd=pd.read_pickle("./closing_data_pickle")
cd=cd.sort_index()
cd.head()

,snp_close,nyse_close,djia_close,nikkei_close,hangseng_close,ftse_close,dax_close,aord_close
Date,,,,,,,,
2010-01-04,1132.989990,7326.740234,10583.959961,10654.790039,21823.279297,5500.299805,6048.299805,4889.799805
2010-01-05,1136.520020,7354.870117,10572.019531,10681.830078,22279.580078,5522.500000,6031.859863,4939.500000
2010-01-06,1137.140015,7377.700195,10573.679688,10731.450195,22416.669922,5530.000000,6034.330078,4946.799805
2010-01-07,1141.689941,7393.930176,10606.860352,10681.660156,22269.449219,5526.700195,6019.359863,4930.500000
2010-01-08,1144.979980,7425.350098,10618.190430,10798.320312,22296.750000,5534.200195,6037.609863,4942.200195

In [77]:
aord=quandl.get("YAHOO/INDEX_AORD", authtoken="NiLCy_frruoznRS-R7hS",start_date="2010-01-01",end_date="2015-10-01")
snp=quandl.get("BCIW/_SPXT", authtoken="NiLCy_frruoznRS-R7hS", start_date="2010-01-01", end_date="2015-10-01")
nyse=quandl.get("BCB/7809", authtoken="NiLCy_frruoznRS-R7hS",start_date="2010-01-01", end_date="2015-10-01")
djia=quandl.get("BCB/UDJIAD1", authtoken="NiLCy_frruoznRS-R7hS",start_date="2010-01-01", end_date="2015-10-01")
nikkei=quandl.get("NIKKEI/ALL_STOCK", authtoken="NiLCy_frruoznRS-R7hS",start_date="2010-01-01", end_date="2015-10-01")
hangseng=quandl.get("CHRIS/HKEX_HSI1", authtoken="NiLCy_frruoznRS-R7hS",start_date="2010-01-01", end_date="2015-10-01")
ftse=quandl.get("BCIW/_FTSE", authtoken="NiLCy_frruoznRS-R7hS",start_date="2010-01-01", end_date="2015-10-01")
dax=quandl.get("CHRIS/EUREX_FDAX1", authtoken="NiLCy_frruoznRS-R7hS",start_date="2010-01-01", end_date="2015-10-01")